<a href="https://colab.research.google.com/github/xtric6/Hamoye-StageBQUIZ/blob/main/hamoyestageB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import files
uploaded = files.upload()

Saving energydata_complete.csv to energydata_complete.csv

In [3]:
import io
dataset = pd.read_csv('energydata_complete.csv')

In [4]:
dataset.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [ ]:
dataset

In [10]:
dataset.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [11]:
dataset.describe

<bound method NDFrame.describe of                       date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0      2016-01-11 17:00:00          60      30  ...   5.300000  13.275433  13.275433
1      2016-01-11 17:10:00          60      30  ...   5.200000  18.606195  18.606195
2      2016-01-11 17:20:00          50      30  ...   5.100000  28.642668  28.642668
3      2016-01-11 17:30:00          50      40  ...   5.000000  45.410389  45.410389
4      2016-01-11 17:40:00          60      40  ...   4.900000  10.084097  10.084097
...                    ...         ...     ...  ...        ...        ...        ...
19730  2016-05-27 17:20:00         100       0  ...  13.333333  43.096812  43.096812
19731  2016-05-27 17:30:00          90       0  ...  13.300000  49.282940  49.282940
19732  2016-05-27 17:40:00         270      10  ...  13.266667  29.199117  29.199117
19733  2016-05-27 17:50:00         420      10  ...  13.233333   6.322784   6.322784
19734  2016-05-27 18:00:00         430      10  ...  13.200000  34.118851  34.118851

[19735 rows x 29 columns]>

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [14]:
dataset = dataset.drop(columns = ['date','lights'])

In [18]:
normalised_dataset = pd.DataFrame(scaler.fit_transform(dataset), columns=dataset.columns)
livingroomTemp_dataset = normalised_dataset['T2']
OutsideTemp_Target = normalised_dataset['T6']

In [20]:
livingroomTemp_dataset

0        0.225345
1        0.225345
2        0.225345
3        0.225345
4        0.225345
           ...
19730    0.711655
19731    0.701769
19732    0.692651
19733    0.677054
19734    0.666171
Name: T2, Length: 19735, dtype: float64

In [28]:
livingroomTemp_dataset.shape

(19735,)

In [32]:
livingroomTemp_dataset= livingroomTemp_dataset.values.reshape(-1,1)

In [33]:
livingroomTemp_dataset.shape

(19735, 1)

In [36]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(livingroomTemp_dataset, OutsideTemp_Target,
test_size=0.3, random_state=42)

In [21]:
OutsideTemp_Target

0        0.381070
1        0.375443
2        0.367487
3        0.363800
4        0.361859
           ...
19730    0.898317
19731    0.880852
19732    0.864260
19733    0.829525
19734    0.788580
Name: T6, Length: 19735, dtype: float64

Q12

In [50]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test,y_pred)
round(r2_score, 3)

0.643

In [37]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [39]:
y_pred = regressor.predict(x_test)

Q13

In [45]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_pred)
round(mae, 2)

0.08

Q14

In [47]:
import numpy as np
rss = np.sum(np.square(y_test - y_pred))
round(rss, 2)

66.12

Q15

In [57]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
round(rmse, 3)

0.106

Q16

In [58]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test,y_pred)
round(r2_score, 3)

0.643

In [55]:
from sklearn.linear_model import Lasso